




//Media Queries
//Heights
// $xs-mobile: "(min-height: 500px)";
// $s-mobile: "(min-height: 640px)";
// $m-mobile: "(min-height: 667px)";
// $l-mobile: "(min-height: 720px)";


//Widths
// $s-phone: "(min-width: 400px)";
// $s-tablet: "(min-width: 590px)";
$phone: "(min-width: 500px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
// $l-desktop: "(min-width: 1400px)";
