header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .time-weather-container,
  .greeting-container,
  .google-links-container {
    // background: rgba(0, 0, 0, 0.5);
  }
  .time-weather-container {
    display: flex;
    flex: 1 1 100%;
    // border: 1px solid #999;
    order: 1;
    margin-bottom: 10px;
    padding: 10px;
    // height: 50px;
    .location-data {
      flex-direction: column;
      justify-content: space-around;
      flex: 1 40%;
      // border: 1px solid red;
      .location {
        font-size: 0.875em;
      }
    }
    #datetime {
      flex: 1 1 100%;
      display: flex;
      // border: 1px solid lime;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      font-size: 0.875em;
      .date {
        margin-top: -1px;
      }
      .time {
        margin-top: -1px;
        font-size: 18px;
      }
    }
  }
  .greeting-container {
    text-align: center;
    flex: 1 1 100%;
    // border: 1px solid #999;
    order: 3;
    margin-bottom: 10px;
    padding: 25px 10px;
    @media screen and #{$tablet} {
      flex: none;
      margin: 0 auto 10px auto;
      padding: 50px 10px;
      width: 85%;
    }
    h1 {
      font-size: 3em;
      color: $primaryColor;
      @media screen and #{$tablet} {
        font-size: 5em;
      }
    }
    .greeting-message {
      margin-top: 0.5em;
      font-size: 2em;
      line-height: 1.5;
      font-family: 'Josefin Sans', sans-serif;
      span {
        display: block;
        font-size: 0.8em;
      }
      @media screen and #{$tablet} {
        font-size: 3em;
      }
    }
  }
  .google-links-container {
    display: none;
    flex: 1 1 100%;
    border: 1px solid #999;
    order: 2;
    margin-bottom: 10px;
    height: 50px;
  }



}



#weather {
  padding-left: 30px;
  position: relative;
  margin-bottom: 5px;
  font-size: 1.125em;
  i {
    color: #fff;
    font-family: weather;
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
    line-height: 0;
    text-transform: none;
    position: absolute;
    top: 7px;
    left: -1px;

  }

  .icon-0:before { content: ":"; }
  .icon-1:before { content: "p"; }
  .icon-2:before { content: "S"; }
  .icon-3:before { content: "Q"; }
  .icon-4:before { content: "S"; }
  .icon-5:before { content: "W"; }
  .icon-6:before { content: "W"; }
  .icon-7:before { content: "W"; }
  .icon-8:before { content: "W"; }
  .icon-9:before { content: "I"; }
  .icon-10:before { content: "W"; }
  .icon-11:before { content: "I"; }
  .icon-12:before { content: "I"; }
  .icon-13:before { content: "I"; }
  .icon-14:before { content: "I"; }
  .icon-15:before { content: "W"; }
  .icon-16:before { content: "I"; }
  .icon-17:before { content: "W"; }
  .icon-18:before { content: "U"; }
  .icon-19:before { content: "Z"; }
  .icon-20:before { content: "Z"; }
  .icon-21:before { content: "Z"; }
  .icon-22:before { content: "Z"; }
  .icon-23:before { content: "Z"; }
  .icon-24:before { content: "E"; }
  .icon-25:before { content: "E"; }
  .icon-26:before { content: "3"; }
  .icon-27:before { content: "a"; }
  .icon-28:before { content: "A"; }
  .icon-29:before { content: "a"; }
  .icon-30:before { content: "A"; }
  .icon-31:before { content: "6"; }
  .icon-32:before { content: "1"; }
  .icon-33:before { content: "6"; }
  .icon-34:before { content: "1"; }
  .icon-35:before { content: "W"; }
  .icon-36:before { content: "1"; }
  .icon-37:before { content: "S"; }
  .icon-38:before { content: "S"; }
  .icon-39:before { content: "S"; }
  .icon-40:before { content: "M"; }
  .icon-41:before { content: "W"; }
  .icon-42:before { content: "I"; }
  .icon-43:before { content: "W"; }
  .icon-44:before { content: "a"; }
  .icon-45:before { content: "S"; }
  .icon-46:before { content: "U"; }
  .icon-47:before { content: "S"; }
}
