header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .time-weather-container,
  .greeting-container,
  .google-links-container {
    background: rgba(0, 0, 0, 0.5);
  }
  .time-weather-container {
    flex: 1 1 100%;
    border: 1px solid #999;
    order: 1;
    margin-bottom: 10px;
    height: 50px;
  }
  .greeting-container {
    flex: 1 1 100%;
    border: 1px solid #999;
    order: 3;
    margin-bottom: 10px;
  }
  .google-links-container {
    flex: 1 1 100%;
    border: 1px solid #999;
    order: 2;
    margin-bottom: 10px;
    height: 50px;
  }
}
