header {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 100%; }
  header .time-weather-container,
  header .greeting-container,
  header .google-links-container {
    background: #555; }
  header .time-weather-container {
    flex: 1 1 100%;
    border: 1px solid green;
    order: 1;
    margin: 10px;
    height: 50px; }
  header .greeting-container {
    flex: 1 1 100%;
    border: 1px solid blue;
    order: 3; }
  header .google-links-container {
    flex: 1 1 100%;
    border: 1px solid lime;
    order: 2;
    margin: 10px;
    height: 50px; }
